.main {
    position: relative;
    height: 870px;
    width: 100%;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
    //background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
    &__menu {
            display: flex;
            width: 1100px;
            height: 36px;
            padding-top: 79px;
            justify-content: space-between;
            align-items: center;
            
        &-link {
            display: flex;
            width: 427px;
            height: 36px;
            justify-content: space-between;
            align-items: center;
            font-size: 12px;
            line-height: 20px;
           &-item {
               padding-right: 20px;
           }
            
            &-logo {
                padding-right: 70px;
                height: 36px;
                width: 36px;
                align-items:center;

            }
            ul {
                display: flex;
                list-style-type: none;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #B5B5B5;
                font-family: 'Rubik', sans-serif;
                
            }
        }

        &-btn {
            width: 244px;
            height: 36px;
            display: flex;
            justify-content: space-between;
            &-signIn, &-signUp {
                border: 1px solid $main-color1;
                border-radius: 4px;
                width: 112px;
                height: 36px;
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: $main-color1;
                background-color: Transparent;
                cursor:pointer;
                outline: none;
                transition: all .6s;
                &:hover {
                    background: $main-color1;
                    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
                    border-radius: 3px;
                    color: #FFFFFF;
                }
            }

        }
    }

    &__promo {
        display: grid;
        grid-template-columns: repeat(2, 580px);
        padding-top: 104px;
        
        &-box {
            display: grid;
            grid-template-columns: 531px;
            grid-template-rows: 256px 87px 140px;
            &-btn {
                width: 334px;
                height: 46px;
                display: flex;
                justify-content: space-between;
                
                &-learnMore, &-demo {
                    border: 1px solid $main-color1;
                    border-radius: 4px;
                    width: 157px;
                    height: 46px;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 20px;
                    
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: $main-color1;
                    background-color: Transparent;
                    cursor:pointer;
                    outline: none;
                    transition: all .6s;
                    margin-top: 40px;
                    
                    &:hover {
                        background: $main-color1;
                        box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
                        border-radius: 3px;
                        color: #FFFFFF;
                    }
                }
                
            }



            &-wrapper {
                &-title {
                    padding-top: 43px;
                    font-family: Inter;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 44px;
                    line-height: 50px;
                    color: $main-color2;
                }
                &-subtitle{
                    font-size: 18px;
                    line-height: 22px;  
                    color: #8476AA;
                    font-family: 'Rubik', sans-serif;
                    padding-top: 20px;
                }
                
            }
            &-content {
                display: grid;
                grid-template-columns: 140px minmax(380px, auto);
                padding-top: 64px;
                column-gap: 20px;
                &-video {
                    cursor: pointer;
                }
                &-descr {
                    font-family: Rubik;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;                   
                    color: #8476AA;
                    
                }
                &-comment {
                    display: grid;
                    grid-column: 2/3;
                    margin-top: -20px;
                    font-family: Rubik;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;                  
                    color: #6D6D78;
                    cursor:pointer;
                }
            }
        }
        &-inner {
            display: flex;
            width: 1170px;
            height: 30px;
            justify-content: space-around;
            padding-top: 20px;
            &-company {
                cursor:pointer;
            }
        }
    }
}    




